exportPattern("^[[:alpha:]]+")
importFrom("stats", "complete.cases", "cor", "ecdf", "na.omit",
           "pchisq", "pnorm", "qlogis", "qnorm", "qqnorm", "sd",
           "shapiro.test")
importFrom("lattice","stripplot","bwplot","panel.violin","panel.bwplot",
           "histogram","densityplot")
export(skewCoeff)
export(kurtCoeff)
export(popSD)
export(rankitXform)
export(logXform)
export(inverseXform)
export(squareXform)
export(arcsineXform)
export(logitXform)
export(KSLTest)
export(SWTest)
export(ADTest)
export(DPTest)
export(JBTest)
export(chisqTest)
export(Rita)
export(MasterXform)
export(MasterTest)